html, body {
  height: 100%;
  overflow: hidden; /* evita scroll */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.room {
  background-image: url('./assets/roomBackgrond.png');
  background-size: cover;     
  background-position: center; 
  width: 100vw;
  height: 100vh;    
  margin:0px;           
}
